aiodns==3.6.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
anyio==4.12.1
appdirs==1.4.4
argcomplete==3.6.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.1
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.3
bleach==6.2.0
blivet==3.12.1
blosc2==3.8.0
Bottleneck==1.6.0
Brlapi==0.8.7
Brotli==1.2.0
cachetools==5.5.2
certifi==2025.7.9
cffi==2.0.0
charset-normalizer==3.4.3
click==8.1.7
cockpit @ file:///builddir/build/BUILD/cockpit-354-build/cockpit-354/tmp/wheel/cockpit-354-py3-none-any.whl#sha256=1d4fb1517c54d5d11d999be3583ea5fbf3d3d011cb789fb717daae0672c38816
comm==0.2.3
contourpy==1.3.3
crypt_r==3.13.1
cssselect==1.3.0
cupshelpers==1.0
cycler==0.11.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
dnf==4.24.0
et_xmlfile==2.0.0
executing==2.2.1
fastjsonschema==2.21.2
fedora-third-party==0.10
file-magic==0.4.0
fonttools==4.61.0
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2026.1.0
gcsfs==2025.9.0
google-api-core==2.27.0
google-auth==2.45.0
google-auth-oauthlib==1.2.3
google-cloud-core==2.3.3
google-cloud-storage==2.14.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.63.0
greenlet==3.1.1
grpcio==1.48.4
grpcio-status==1.48.4
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
humanize==4.13.0
idna==3.10
inkex==1.4.0
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
iso639==0.1.4
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
json5==0.12.1
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kiwisolver==1.4.9
langtable==0.0.69
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.17.0
louis==3.33.0
lxml==6.0.1
MarkupSafe==3.0.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mistune==3.1.3
msgpack==1.1.0
multidict==6.6.4
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
ndindex==1.10.0
nest-asyncio==1.6.0
netifaces==0.11.0
nftables==0.1
notebook_shim==0.2.4
numexpr==2.12.1
numpy==2.3.5
oauthlib==3.2.2
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.5
packaging==25.0
pandas==3.0.0
pandocfilters==1.5.1
parso==0.8.5
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==11.3.0
platformdirs==4.5.0
ply==3.11
pooch==1.9.0
productmd==1.50
prometheus_client==0.23.0
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.22.3
protobuf==3.19.6
psutil==7.1.3
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.13
pycairo==1.28.0
pycares==4.10.0
pycparser==2.22
pycups==2.0.4
pyenchant==3.2.2
Pygments==2.19.2
PyGObject==3.54.5
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.66-build/pykickstart-3.66
PyMySQL==1.1.2
pyparsing==3.1.2
pyparted==3.13.0
PyQt5==5.15.12.dev2507081429
PyQt5_sip==12.17.1
pyserial==3.5
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
python-linux-procfs==0.7.3
python-meh==0.52
python-pam==2.0.2
pytz==2025.2
pyudev==0.24.3
pyxdg==0.28
PyYAML==6.0.2
pyynl @ file:///builddir/build/BUILD/kernel-6.18.7-build/kernel-6.18.7/linux-6.18.7-200.fc43.x86_64/tools/net/ynl
pyzmq==27.1.0
QtPy==2.4.3
RapidFuzz==3.12.2
referencing==0.36.2
regex==2025.10.23
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
requests-oauthlib==1.3.1
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rpds-py==0.27.0
rpm==6.0.1
rsa==4.9
scipy==1.16.2
scour==0.38.2
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
Send2Trash==1.8.3
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
setools==4.6.0
setuptools==78.1.1
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.10.2
soupsieve==2.8
SQLAlchemy==2.0.46
stack-data==0.6.3
systemd-python==235
tables==3.10.2
tabulate==0.9.0
terminado==0.18.1
tinycss2==1.5.1
tornado==6.5.2
traitlets==5.14.3
typing_extensions==4.15.0
uri-template==1.3.0
urllib3==2.6.3
wcwidth==0.2.14
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
xarray==2025.12.0
xkbregistry==0.3
xlrd==2.0.1
xlsxwriter==3.2.9
yarl==1.22.0
zstandard==0.25.0
